*{
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}


*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width: 100%;
    height: 150px;
}
.header{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content:space-between;
}
#headimg{
    width:90px;
    height: 90px;
    margin-left: 40px;
    margin-top: 40px;
}
#pole{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    margin-right: 0px;
    margin-top: 45px;
    border: solid;
    cursor: pointer;
}
#vidguk{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-right: 100px;
    margin-top: 50px;
    background-color: rgb(6, 116, 33);
    font-size: 17px;
    color: white;
    font-weight: 600;
}
#vidguk:hover {
    background-color: rgb(25, 15, 32);
}
option[default] {
    display: none;
}
#mainimg{
    width: 100%;
    height: 650px;
	background-color: white;
	background-image: url(image/4.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
	background-position: center;
	background-size: 100%;
    background-size: cover;
}
#topheader{
    width: 100%;
    height: 50px;
    background-color: rgb(11, 38, 210);
    justify-content: space-between;
    display: flex;
}
#lang{
    margin-bottom: 5px;
    margin-left: auto;
    width: 25px;
    margin-bottom: 10px;
}
.connect {
    padding-top: 30px;
	height: 275px;
	width: 700px;
    background-color: white;
    opacity: 90%;
	position: absolute;
	top: 320px;
	left: 200px;
	border-radius: 7%;
	padding-left: 40px;
	padding-right: 40px;
	z-index: auto;
    margin-left: 1%;
}
#btn1 {
    background-color: rgb(6, 116, 33);
    width: 200px;
    height: 40px;
    border-radius: 7px;
    color: white;
}
#btn1:hover {
    background-color: rgb(20, 25, 12);;
}
.container{
    display: flex;
    margin-left: 15%;
    margin-top: 30px;
}
.container div{
    width: 330px;
    height: 200px;
    border-radius: 10px;
    border: solid;
    margin-left: 35px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bold;
}
.i, .i1, .i2, .i3{
width: 120px;
margin-left: 20px;
}
.i1{
    margin-top: 27px;;
}
.i2{
    margin-top: 1px;
    margin-bottom: 5px;
}
.i3{
    margin-top: 27px;
}
.o, .o1, .o2, .o3{
    margin-left: 20px;
}
.g5{
    padding: 100px 0px;
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: end;
}

.g5 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list {
    list-style-image: url(img/wi-fi.png);
    
}
.li{
    font-size: 30px;
    margin-top: 10px;
}
.ul{
    position: relative;
    z-index: 2;
    width: 800px;
}
#lowimg{
    width: 100%;
    height: 600px;
	background-color: white;
	background-image: url(image/4.jpg);
	background-repeat: no-repeat;
	margin: 0 auto;
	background-position: center;
	background-size: 100%;
    background-size: cover;
}
#btn3{
    margin-left: 40%;
    width: 200px;
    height: 55px;
    border-radius: 8px;
    background-color: rgb(6, 116, 33);
    color: white;
    font-size: 25px;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    background-color: rgb(244, 242, 242);
}
#email{
    width: 800px;
    height: 55px;
}
#text{
    width: 800px;
    height: 250px;
    margin-top: 20px;

}
input{
    padding-left: 20px;
    font-size: 23px;
}
#btnlower{
    width: 170px; 
    height: 55px; 
    background-color: black;
    border-radius: 9px;
    margin-top: 20px;
    color: white;
    font-size: 23px;
}
#btn3:hover {
    background-color: rgb(21, 21, 10);
}
#btnlower:hover{
    background-color: rgb(92, 184, 92);
}

.header__menu {
    display: flex;
    justify-content: center;
    min-height: 100px;
}
.header-menu__list {
    display: flex;
    align-items: center;
}

.header-menu__item:not(:last-child) {
    margin-right: 120px;
}
.header-menu__link {
    font-size: 26px;
    color: #000;
}
.header-menu__link:hover {
    text-decoration: underline;
}